header {
  height: 64px;
  padding: 8px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-box {
  margin-right: 20px;
}

.link {
  color: $link-text-color;
  margin-right: 30px;
}

.link:hover {
  text-decoration: underline;
}
.advanced-search-header {
  display: block;
}
